*,
*::before,
*::after {
  box-sizing: border-box; 
}

body {
	font-family: 'Manrope', sans-serif;
	font-weight: 700;
	background-color: #fff;
}

.container {
	max-width: 500px;
	margin: 0 auto;
}

.counter {
	padding: 126px 0; 
	width: 500px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.counter__value {
	margin-bottom: 36px;
	font-size: 32px;
	font-weight: 700;
	line-height: 43px;
	color: #000;
}

.btn {
	padding: 28px;
	width: 100%;
	display: inline-block;
	font-family: inherit;
	font-size: 32px;
	line-height: 43px;
	color: #fff;
	border-radius: 20px;
	border: 0;
	cursor: pointer;
	transition: opacity .2s linear;
}

.counter__plus {
	margin-bottom: 36px;
	background-color: #4191FF;
}

.counter__reset {
	background-color: #D45366;
}

.counter__plus:hover,
.counter__plus:active,
.counter__plus:focus, 
.counter__reset:hover,
.counter__reset:active,
.counter__reset:focus {
	outline: none;
	opacity: .8;
}

@media (max-width: 991px) {
	.container {
		width: 100%;
		padding: 0 15px;
	}

	.counter {
		width: 100%;
	}
}

@media (max-width: 527px) {
	.btn {
		width: 100%;
	}
}
